<div class="d-toolbar">
	<div class="pull-left">
		<nav class="navbar">
			<ul class="nav navbar-nav">
				<li class="navbar-item">
					<a class="title" href="{{ href_admin }}" target="_blank" title="{{ text_admin }}"><i class="fa fa-dashboard"></i></a>
				</li>
				{% if href_edit %}
				<li class="navbar-item">
					<a class="title" href="{{ href_edit }}" target="_blank" title="{{ text_edit }}"><i class="fa fa-pencil"></i> {{ text_edit }}</a>
				</li>
				{% endif %}
				{% for widget in setting['widget'] %}
				{% if (widget['status'] and widget['html']) %}
				{{ widget['html'] }}
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
	<div class="pull-right">
		<nav class="navbar">
			<ul class="nav navbar-nav">
				<li class="navbar-item">
					<a class="title" href="{{ href_user }}" target="_blank" title="{{ text_user }}"><i class="fa fa-user"></i></a>
				</li>
				<li class="navbar-item">
					<a class="title" href="{{ href_setting }}" target="_blank" title="{{ text_settings }}"><i class="fa fa-cog"></i></a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="clear"></div>
</div>